* {
  box-sizing: border-box;
}
body {
  background-color: #04807E;
}

main {
  background-color: white;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 5px;
  padding: 10px;
}

ul {
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  padding: 0;
  list-style-type: none;
}

li {
  border: 1px solid black;
  
}

.hidden {
  display: none;
}

.titleAndRating:hover {
  background-color: lightgrey;
}

.displayErrorMessage {
  text-align: center;
  color: red;
  padding: 10px;
  margin: 10px;

}

.exitError {
  background-color: transparent;
  padding: 5px;
  border: 1px solid grey;
}

.exitError:hover {
  background-color: lightgrey;
}


.errorMessage {
  font-weight: bold;
}